PORT = "4000"
STATIC_PATH = "images"

SERVER_URL = "http://localhost:4000"
FRONTEND_URL = "http://localhost:3000"

# Redis
REDIS_HOST = redis
REDIS_PORT = 6379
REDIS_URL = "redis://localhost:6379"

# Postgres
DATABASE_HOST = "localhost"
DATABASE_PORT = "5432"
DATABASE_USER = "database_user"
DATABASE_PASS = "pontificate-regressions-jumbos-automaker-coelenterate-stepchild-antennas-Pippin-barre-obviating"
DATABASE_DB_NAME = "database_name"

# Cloudinary
CLOUDINARY_RESOLVE_NAME = "3aosdifo2"
CLOUDINARY_API_KEY = "395849398232137"
CLOUDINARY_API_SECRET = "-kfdds-opreoijGoijr32oi982w"
CLOUDINARY_URL = "cloudinary://395849398232137:-kfdds-opreoijGoijr32oi982w@3aosdifo2"

# Email (nodemailer)
EMAIL_HOST = "gmail"
EMAIL_SMTP_PORT = "587"
EMAIL_AUTH_USER = "gmail@gmail.com"
EMAIL_AUTH_PASS = "dtnkni71o3u9zzzbiqh8nka31k6gig"
EMAIL_FROM = '"app name" <gmail@gmail.com>'

# Default super user
DEFAULT_USER_NAME = "admin"
DEFAULT_USER_EMAIL = "admin@gmail.com"
DEFAULT_USER_PASSWORD = "i71o3u9zzzbiqh8nka31k6g"
DEFAULT_USER_PHONE = "79999999999"

# Preload images
PATH_IMAGE_BLANK_USER = "images/user_blank.png"
PATH_IMAGE_BLANK_PRODUCT = "images/product_blank.png"
PATH_IMAGE_BLANK_CATEGORY = "images/category_blank.png"

STRIPE_SECRET_KEY = "stripe_key"

# JWTs

RESET_PASSWORD_TOKEN_EXPIRES_IN = "10m"

JWT_ALGORITHM = "ES256"

ACCESS_JWT_TOKEN_PUBLIC_KEY = "base64 key"
ACCESS_JWT_TOKEN_PRIVATE_KEY = "base64 key"
ACCESS_JWT_TOKEN_SIGN = "base64 sign"
ACCESS_JWT_TOKEN_OPTION_EXPIRES_IN = "24h"

REFRESH_JWT_TOKEN_PUBLIC_KEY = "base64 key"
REFRESH_JWT_TOKEN_PRIVATE_KEY = "base64 key"
REFRESH_JWT_TOKEN_SIGN = "base64 sign"
REFRESH_JWT_TOKEN_OPTION_EXPIRES_IN = "7d"

EMAIL_CONFIRMATION_TOKEN_PUBLIC_KEY = "base64 key"
EMAIL_CONFIRMATION_TOKEN_PRIVATE_KEY = "base64 key"
EMAIL_CONFIRMATION_TOKEN_EXPIRES_IN = "24h"
EMAIL_CONFIRMATION_RESEND_IN = "5m"

# OPT
OPT_MAX_ATTEMPTS = 3
OPT_DELAY_BETWEEN_ATTEMPTS_SEC = 60
OPT_DELAY_BETWEEN_MAX_ATTEMPTS_SEC = 360
